---
import { getEntries, type CollectionEntry } from "astro:content";

import Tags from "./Tags.astro";
import ImageCard from "./ImageCard.astro";
import { ArrowRight } from "@phosphor-icons/react";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
const tags = await getEntries(post.data.tags);

const slug = post.slug;
const {title, cover, summary} = post.data;
---
    <article class="relative rounded-xl h-84 md:h-96">

        <ImageCard src={cover} alt={title} classes="absolute top-0 left-0 rounded-xl h-full md:h-96" />
        <div class="p-8 md:p-12 flex flex-col gap-2 backdrop-blur-sm hover:backdrop-contrast-125 bg-primary/20 flex-1 h-full rounded-xl">
            <Tags tags={tags} />
            <a href={`/blog/${slug}`}>
                <h3 class="text-lg md:text-2xl font-unbounded text-blue-1">{title}</h3>
            </a>
            <a href={`/blog/${slug}`}>
                <p class="text-gray-7 text-sm md:text-md line-clamp-3">{summary}</p>
            </a>
            <a href={`/blog/${slug}`} class="group btn btn-primary self-start mt-4">
              <span class="mr-2">Read more</span>
                <span class="hidden group-hover:inline-flex"><ArrowRight></span>
            </a>
        </div>
    </article>
